.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/machines/dudu/virtualbox/action_provision
.vagrant/machines/dudu/virtualbox/action_set_name
.vagrant/machines/dudu/virtualbox/box_meta
.vagrant/machines/dudu/virtualbox/creator_uid
.vagrant/machines/dudu/virtualbox/id
.vagrant/machines/dudu/virtualbox/index_uuid
.vagrant/machines/dudu/virtualbox/private_key
.vagrant/machines/dudu/virtualbox/synced_folders
.vagrant/machines/dudu/virtualbox/vagrant_cwd
.vagrant/machines/old/virtualbox/action_provision
.vagrant/machines/old/virtualbox/action_set_name
.vagrant/machines/old/virtualbox/box_meta
.vagrant/machines/old/virtualbox/creator_uid
.vagrant/machines/old/virtualbox/id
.vagrant/machines/old/virtualbox/index_uuid
.vagrant/machines/old/virtualbox/private_key
.vagrant/machines/old/virtualbox/synced_folders
.vagrant/machines/old/virtualbox/vagrant_cwd
